

<form action="/home/addProduct" method="post">
    <div>
        <label> Name: </label>
        <input type="text" name="Name"/>
    </div>
    <div>
        <label> UnitPrice: </label>
        <input type="text" name="UnitPrice"/>
    </div>
    <div>
        <label> UnitInStock: </label>
        <input type="text" name="UnitInStock"/>
    </div>
    <div>
        <label> UnitOnOrder: </label>
        <input type="text" name="UnitOnOrder"/>
    </div>

    <div>
        <label> CategoryId: </label>
        <input type="text" name="CategoryId"/>
    </div>

    <div>
        <label> Discounted: </label>
        <input type="text" name="Discounted"/>
    </div>


    <div>
        <button type="submit">Add</button>
    </div>




</form>